:root{
    --main-theme-color:rgba(56, 99, 216);
    --main-text-color:rgb(245, 245, 245);
}
*{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'poppins', Arial, sans-serif;

}

head, section, body {
    width: 100vw;
    position: relative;

}

aside{
    position: relative;
}

header{
    height: 30px;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
main{
    top: 30px;
    position: relative;
}

.header-logo{
    flex-basis: 25%;
    max-width: 300px;
    min-width: 100px;
    height: 100%;
    background: var(--main-theme-color);
    text-align: center;
}

nav{
    flex-basis: 45%;
    height: 100%;
    display: flex;
    justify-content: center     ;
    align-items: center;
    background: #fff;

}
nav a{
    text-decoration: none;

}
.signav{
    flex-basis:30%;
}

nav li{
    display: inline-block;

}

.caresoul{
    background:  var(--main-theme-color);
    height: 300px;
}

.AdsMediumSection{
    min-height:500px;
    border-bottom: solid 10px var(--main-theme-color);

}

.AdsMediumSection .section-title{
    width: 95%;
     height:40px;
    padding-right: 50px;
    direction: rtl;

}

.AdsMediumSection .section-title span { 
    display: inline-block;
    height:100%;
    background:var(--main-theme-color);
    width:150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: var(--main-text-color);
    text-transform: capitalize;

}
.AdsMediumSection .section-body {
    height:90%;
    width:100%;
    text-align: center;
    
}

.mediumAds{
    height:200px;
    width:250px;
    display: inline-block;
    position: relative;
    background: grey;
    margin: 30px;
    

}

.mediumAds .adsImg{
    position:absolute;
    width:100%;
    height:100%;
    /* background:rgba(178, 34, 34, 0.959); */
    opacity: 0.8;
}

.mediumAds .adsImg img {
    width:100%;
    height:70%;
    position: absolute;
    left: 0;
    top: 0;
}

.mediumAds .adsWriteup{
    position: absolute;
    bottom: 0;
    background:rgb(215, 224, 218);
    width: 100%;
    height: 30%;
    display:flex;
    
}


.mediumAds .adsWriteup span{
    height:100%;
    flex-basis: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.mediumAds .adsWriteup span[class="price"] {
    height: 100%;
    flex-basis: 50%;
    background:var(--main-theme-color);
    color: antiquewhite;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    display: flex;
    

}

.mediumAds .adsWriteup span[class="name"] {
    height: 100%;
    flex-basis: 50%;
    background:none;
    color: var(--main-theme-color);
    text-align: center;
    font-size: larger;
    font-weight: 300;
    display: flex;


}