.ModalBox{
    
    background: rgb(255, 255, 255);
    position: relative;
    width: 85vw;
    max-width: 500px;
    height:500px;
    /* z-index: 1000; */
    display: none ;
    z-index: 10000 !important;
    transition: all 0.5 ease;
    
}

.center-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.XModalBox{
    display: none;
    place-items: center;
    transition: all 0.5 ease;
    background: rgba(126, 123, 123, 0.692);

    
}

.modalCnt{
    width:100vw;
    height:100vh;
    position: fixed;
    /* display:grid ; */
    place-items: center;
    top:0;
    transition: all 0.5 ease;

    /* z-index: -1; */
}

.modalshow{
    margin:0px !important;
    height:40% ;
    width:100%;
    top: 0;
}

.modal-des{
    /* position:absolute; */
    height:20% !important;
    width:100%;
    top: 0;
    font-size:large;
    padding: 20px;
    box-sizing: border-box;
}
.modal-seller-details{
    height:25%;
    box-sizing: border-box;
    padding: 0px 0px 10px 15px;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    flex-wrap: nowrap;

}
.seller-detail-modal{
    width:45%;
    height: 30%;
    /* flex-shrink: 0; */
    display:inline-block;
    /* flex-basis: 25%; */
    word-wrap: break-word;
    /* height:100%; */
    
}
.modal-full-bar{
    width:100%;
}
.modal-Contact{
    height:10%;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;

}

.modalClosebtn{
    position: absolute;
    top:10px;
    right:20px;
    color:white;
}

.Display-none{
    display:none;
    z-index: 1000;
}

/* to style the shop */

.shop-hero-cover,
.top-sale {
    width: 100vw;
    height: 200px;
    position:relative;

    
}
.shop-hero-cover{
    padding:5px;
    box-sizing: border-box;
}

.shop-detail{
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 30%;
    width:calc(100% - 15px);

}