:root {
    --main-color-1: #2980B9;
    --main-color-2: #fff;
}
.ModalBox{
    
    background: rgb(255, 255, 255);
    position: relative;
    width: 85vw;
    max-width: 500px;
    height:500px;
    /* z-index: 1000; */
    display: none ;
    z-index: 10000 !important;
    transition: all 0.5 ease;
    
}

.center-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.XModalBox{
    display: none;
    place-items: center;
    transition: all 0.5 ease;
    background: rgba(126, 123, 123, 0.692);

    
}

.modalCnt{
    width:100vw;
    height:100vh;
    position: fixed;
    /* display:grid ; */
    place-items: center;
    top:0;
    transition: all 0.5 ease;

    /* z-index: -1; */
}

.modalshow{
    margin:0px !important;
    height:40% ;
    width:100%;
    top: 0;
}

.modal-des{
    /* position:absolute; */
    height:20% !important;
    width:100%;
    top: 0;
    font-size:large;
    padding: 20px;
    box-sizing: border-box;
}
.modal-seller-details{
    height:25%;
    box-sizing: border-box;
    padding: 0px 0px 10px 15px;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    flex-wrap: nowrap;

}
.seller-detail-modal{
    width:45%;
    height: 30%;
    /* flex-shrink: 0; */
    display:inline-block;
    /* flex-basis: 25%; */
    word-wrap: break-word;
    /* height:100%; */
    
}
.modal-full-bar{
    width:100%;
}
.modal-Contact{
    height:10%;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;

}

.modalClosebtn{
    position: absolute;
    top:10px;
    right:20px;
    color:white;
}

.Display-none{
    display:none;
    z-index: 1000;
}

/* to style the shop */

.shop-hero-cover,
.top-sale {
    width: 100vw;
    height: 200px;
    position:relative;

    
}
.shop-hero-cover{
    padding:5px;
    box-sizing: border-box;
}

.shop-detail{
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 30%;
    width:calc(100% - 15px);

}

/* where i start coding the admin panel css */

header .acc-ctrl-cnt{
    width:100vw;
    background: var(--main-color-1);
}

.add-prd-cnt {
    padding-top: 15px;
    box-sizing: border-box;

}

.add-prd-cnt .form-cnt form{
    text-align: center;
    
    


}

.form-input-wrapper {
   display:inline-block;
    height: 50px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin: 10px 10px;
    border: solid 3px var(--main-color-1);
    position: relative;
       
}

.form-input-wrapper   input[type="text"],
.form-input-wrapper input[type="number"],
.form-input-wrapper textarea {
   width: 100%;
   height: 100%;
   position:absolute;
   bottom:0;
   left:0;


}
.form-input-wrapper button {
    width: 100%;
    height: 100%;
    background-color: var(--main-color-1);
    border: none;
    color: var(--main-color-2);
    font-weight: 500;
    text-transform: uppercase;
    
}
.form-input-wrapper select {
    width: 100%;
    height: 100%;
    background-color: var(--main-color-1);
    border: none;
    color: var(--main-color-2);
    font-weight: 500;
    text-transform: uppercase;

}

.form-input-wrapper select option {
    width: 100%;
    height: 30px;
    position: relative;
    

}

 .form-submit{
    width: 100%;
    max-width :80%;
}


.form-input-wrapper label{
    position: absolute;
    bottom: 5px;
    left: 16px;
    font-size:1.5rem;
    z-index: 3;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.form-input-wrapper:hover{
    overflow:visible;
}
.form-input-wrapper:hover label {
    
    top: -25px;
    left: 10px;
    font-size: 1.8rem;
    z-index: 3;
    color: var(--main-color-1);
   

}
.not-text-input:hover{
    overflow: hidden;
}


input #file-upload-button {
    background: #2980B9;
}

.hero{
    height:200px;

}


.business-detail-minor details{
    font-size:1.5rem;
    width: 100%;
    background:var(--main-color-1);
    padding:20px;
    box-sizing: border-box;
}
.business-detail-minor summary{
    font-size:2rem;
}


details .detail-body h2{
    color:var(--main-color-2);
}
.business-detail-minor details .detail-body{
    width:100%;
    height:300px;
    padding-top: 10px;
    box-sizing: border-box;
}

.details-form-cnt{
    position: relative;
    width: 100%;
    height: 100%;
}

.details-form-cnt form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 7px;
}