:root{
    --main-color-1:#2980B9;
    --main-color-2:#fff;
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: gray; */
}

header, main, body, header, section{
    width:100vw;
    position: relative;
}


header {
    position: fixed;
    height: 120px;
    display:flex;
    flex-direction: column;
    z-index: 10000;
    background: var(--main-color-2);
}

.top-header{
    width: 100%;
    flex-basis: 55%;
    display: flex;
}

.header-logo{
    flex-basis: 35%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content:center;
    align-items: center;


}

.top-header nav {
    flex-basis: 65%;
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}

.action-btn-ctn{
    flex-basis: 45%;
    background: var(--main-color-2);
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.action-btn-ctn .act-btn-brd{
    height:90%;
    flex-basis: 50%;
    border-bottom:solid 3px var(--main-color-1);
    display: grid;
    place-items: center;
}

.action-btn-ctn .action-btn {
    width: 35%;
    max-width:150px;
    height:75%;
    border:none;
    
    background: none;
    
    color: var(--main-color-2);
    color: var(--main-color-1);
}


main{
    top:120px;
    min-height: 100vh;
}

.form-wrappers{
    height:max-content;

}


@media screen and (max-width: 768px) {
    
}